
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 5px;

}

.text-to-left{
    text-align: left;
    padding: 5px;
}

h1.center{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p.about-me-text{
    padding: 10px;
    max-width: 75%;
}

.image-about-me{
    flex-basis: 50%;

}

