
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid  black;
    text-align: center;
    max-width: 50%;
    padding: 5px;

}

.text-to-left{
    text-align: left;
    padding: 5px;
}